## Vanilla ignores!

# Visual studio
/VisualStudio/.vs
/VisualStudio/.intermediate

# Code generation
/Source/EmbeddedMedia.inc

# Build/assets
/Build/*.*

# Misc
/Build/Media/imgui.ini
/Build/Media/AsiimpLog.txt
/Tools/BinaryToCppEmbedder/obj
