# Common settings that generally should always be used with your language specific settings

# Auto detect text files and perform LF normalization
*          text=auto

# Serialisation
*.vaScene  text eol=lf
*.xml      text eol=lf